.App{
  background: #F4F4F5;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.book_container {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  max-height: 100%;
  min-height: 70vh;
  background: #F4F4F5;
  padding: 10rem 10rem;
}

.content { 
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding-top: 5rem;
}

.title {
  font-size: 4rem;
  margin: 0;
  
}

.subtitle {
  margin: 0;
  color: #E51943;
  font-size: 2rem;
}

.download {
  margin: 0 2rem;
  height: 2rem;
  width: 10rem;
  background: #d83959; 
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.download:hover{
  background: rgba(202, 17, 54);
}
.price_container {
  display: flex;
  align-items: center;
}
.chart_container{
  height: 60vh;
  width: 60vw;
}

.average_container{
  display: flex;
  justify-content: center;
}

.average{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 200px;
  background: white;
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem;
}

.digit {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}